<section class="home-body">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">

                <h1 class="app-title">The-Burger-Bar!</h1>

                <input type="text" rows="4" id="type-burger">
                </input>

                {{!-- post test here --}}
                <form method="POST" action="/burgers/create"></form>
                {{!-- post test ends --}}

                <br>
                <input type="submit" id="submit-burger">
                <p>ORDER THE BURGER YOU ARE CRAVING!</p>

            </div>
        </div>
    </div>
</section>

<section class="burgers">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3 burger-items">

                <h2 class="burger-titles">Freshly Prepared Burgers!</h2>

 {{!-- test begins --}}
                <div class="col-md-8 col-sm-12">
                <ul>
                    {{#each burgers}}
                    {{#unless devoured}}
                   
                    {{> burgers/burger-block devoured=false}}
                    {{/unless}}
                    {{/each}}
                </ul>
    
                </div>

                <form action="/burgers"method="POST">
                </form>
                {{!-- test ends --}}

                <h2 class="burger-titles">Burgers Eaten</h2>



            </div>
        </div>
    </div>
</section>